lab1/.idea/
lab1/cmake-build-debug

lab2/.idea/
lab2/cmake-build-debug

lab3/.idea/
lab3/cmake-build-debug

lab4/.idea/
lab4/cmake-build-debug

lab5/.idea/
lab5/cmake-build-debug

lab5-1/.idea/
lab5-1/cmake-build-debug

lab7/.idea/
lab7/cmake-build-debug

lab7-py/.idea/
lab7-py/venv

lab8/.idea/
lab8/cmake-build-debug

lab9/.idea/
lab9/steps
lab9/cmake-build-debug

lab11/.idea/
lab11/cmake-build-debug

lab12/.idea/
lab12/cmake-build-debug
